<div class="d-flex justify-content-between">
  <h1>Lists of movies</h1>
  <%= link_to new_list_path(@list) do %>
    <button class="btn btn-success">Create List</button>
  <% end %>
</div>
<% @lists.each do |list| %>
 <p>
  <%= link_to list.name, list_path(list) %>
  <%= list.image.attached? ? cl_image_tat(list.image.key) : image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>
 </p>
<% end %>
