<h1>Add Movie</h1>

<%= simple_form_for [ @list, @bookmark ] do |f| %>

  <%= f.association :movie, as: :radio_buttons%>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
